<html><center><h1> Welcome to GHM home page </h1></center>


<%= link_to 'Admin Login', new_admin_admin_user_path %><br />
<br />
<br />

<%= link_to 'Normal Login', new_user_session_path %>


</html>
